/* --- FORMS --- */

form{display:block}
fieldset{display:block;margin:0 0 1% 0;padding:1%;border:none}
fieldset:last-child{margin:0}
legend{display:block;paddi;padding:0;padding:0line-block;padding:2%}

input[type="checkbox"],input[type="radio"]{padding:0}
input[type="search"]{box-sizing:content-box}
input[type="text"],select{display:inline-block;padding:1%;width:96%}
textarea{display:inline-block;padding:1%;width:100%}
td:last-child input[type="text"],td:last-child select{width:100%}
input,select,textarea{font:inherit;margin:0;border:1px solid #a0a0a0}
input:focus,select:focus,textarea:focus{border:1px solid #3f3f3f}
textarea{overflow:auto}
select{cursor:pointer}

label{display:block;padding:0 0 7px 0;width:100%;font-weight:normal;color:#7f7f7f}
span{padding:0 0 2% 0;width:100%;font-weight:normal;}

ng-invalid{border:1px solid red}

/* --- BUTTONS --- */

button{font:inherit;margin:0}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:none;padding:0}

button{display:inline-block;padding:30px;overflow:visible;line-height:100%;vertical-align:top;border:none}
button.icon{position:relative;z-index:2;float:left;display:block;background-size:70%;background-position:center center;background-repeat:no-repeat}
button.icon+button.icon{margin-left:10px}
button.icon+button.next{margin-right:10px;margin-left:0}
button.icon+button.add{margin-right: 10px;margin-left:0}
.aCenter button.add{float:none;display:inline-block}
button.right{float:right}

button.add{background-image:url(../img/icons/add.png)}
button.back{background-image:url(../img/icons/back.png)}
button.next{background-image:url(../img/icons/next.png)}
button.save{background-image:url(../img/icons/save.png)}

button.hint{position:relative}
button span{display:none}
button.hint:hover span{display:block;position:absolute;z-index:999;top:-55%;left:105%;padding:5px;background-color:rgba(0,0,0,.6);white-space:nowrap}
button.right.hint:hover span{left:auto;right:105%}

.button{display:inline-block;width:auto;vertical-align:top}
.button+.button{margin-left:10px}
.button a{display:block;padding:5px 10px;height:100%;text-align:center;color:#7f7f7f;cursor:pointer;white-space:nowrap}
#subheaderBox .bottom .button a{padding:10px 15px}
td .button a{padding:4px 10px}
.button a:hover{color:#000}

.button.delete{display:inline-block}
.button.delete a{padding-top:4px}
#dialogBox .button.delete{display:block;position:absolute;top:10px;right:10px;width:30px;height:30px}
#dialogBox .button.delete a{padding:0}

.imgLink{display:inline-block;width:auto;vertical-align:top}
.imgLink a{display:block;padding:.5vw 0}

button:hover,.button:hover{-moz-opacity:.6;-webkit-opacity:.6;-o-opacity:.6;-ms-opacity:.6;opacity:.6}

/* --- TABLES --- */

table,th,td{border:medium none}
table{table-layout:fixed;border-collapse:collapse;border-spacing:0;width:100%}
#bodyBox tbody tr:first-child{border-top:1px solid #afafaf}
#bodyBox tbody table tr{border:none!important}
th,td{padding:.5% 0;text-align:left;vertical-align:top}
tbody,thead+tbody tr:first-child th,thead+tbody tr:first-child td{padding-top:0.5%}
tbody tr th, tbody tr td{padding-top:0.5%; padding-left: 0.5%; padding-right: 0.5%;}

table.acc thead{border:none}
table.acc tbody tr{display:none}
table.acc thead td{padding:0}
table.acc.w3-show tbody tr{display:table-row}
table.acc.w3-show thead td{padding-bottom:1%}

#headerBox td{padding:0;vertical-align:middle;text-align:center}
#headerBox td:first-child,#headerBox td:last-child{width:25%}
#headerBox td:first-child{text-align:left}
#headerBox td:last-child{text-align:right}
#headerBox td a{display:inline-block}
#headerBox img{width:30%!important;height:auto!important}
#headerBox td:first-child img{width:50%!important}
#headerBox img:hover{-moz-opacity:.6;-webkit-opacity:.6;-o-opacity:.6;-ms-opacity:.6;opacity:.6}

form table{height:auto}
form table table td{padding:0 0 0 0}
form table table tr:last-child td{padding:0}

#dialogBox td{text-align:center;vertical-align:middle}
.clickBox{vertical-align:middle; padding:1%}
.clickBox span{vertical-align:middle; padding:1%}

/* --- LISTS, MENUES --- */

#bodyBox ul{list-style:none;margin:0;padding:0}
#bodyBox ul li{position:relative;display:block;list-style:none;margin-bottom:1%;padding:0}

#headerBox ul{display:inline-block;list-style:none;margin:0;padding:0;vertical-align:top}
#headerBox ul li{position:relative;display:inline-block;list-style:none;margin:0;padding:0;vertical-align:top}
#headerBox ul li a{display:block;padding:.5vw 1.5vw;-moz-opacity:.6;-webkit-opacity:.6;-o-opacity:.6;-ms-opacity:.6;opacity:.6}
#headerBox ul li a:hover{-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;-ms-opacity:1;opacity:1}
#headerBox ul li:hover span.hidden{display:block;position:absolute;z-index:999;top:110%;left:20px;white-space:nowrap}

#bodyBox ul.itemList{list-style:none;margin:0;padding:0;width:100%}
#bodyBox ul.itemList li{position:relative;list-style:none;margin-top:1%;padding:1%;padding-bottom:1%}
#bodyBox ul.itemList li:first-child{margin:0}

.navBar{position:absolute;z-index:1;top:0;left:0;display:block;margin-top:2%;width:100%;text-align:center}
.navBar ul{display:inline-block;list-style:none;margin:0;padding:0;width:70%;vertical-align:top}
.navBar ul li{float:left;position:relative;width:33.3%;list-style:none}
.navBar ul li a{display:block;padding:18px 2%;width:100%;}
.navBar ul li.act a{cursor:pointer}
.navBar ul li a::after{position:absolute;top:0;right:-30px;content:' ';width:0;height:0;border-width:30px 0 30px 30px;border-style:solid;-webkit-transform:rotate(360deg)}
.navBar ul li.step1 a:after,.navBar ul li.step1:hover{z-index:30}
.navBar ul li.step2 a:after,.navBar ul li.step2:hover{z-index:20}
.navBar ul li.step3 a:after,.navBar ul li.step3:hover{z-index:10}

/* --- CLEARER --- */

#page .clearer{clear:both!important;float:none!important;margin:0!important;padding:0!important;width:auto!important;height:0!important;font-size:0!important;line-height:0!important;background:none transparent!important;border:none!important}