/* --- FORMS --- */

form{}
	fieldset{display:block;margin:0;padding:0}
		legend{display:block}
		label{display:inline-block}
		input,select,textarea{display:inline-block;padding:2%}

form.editForm{margin:2% 0}
	form.editForm fieldset{margin-bottom:20px}
	form.editForm .submitArea fieldset{margin-bottom:0}
		form.editForm span.error{display:block;margin-bottom:5px;text-align:right}
		form.editForm span.error:before{content:'!';padding-right:5px}
		form.editForm label{padding-right:2%;width:15%;text-align:right}
		form.editForm input,form.editForm select,form.editForm textarea{width:78%}


/* --- BUTTONS --- */

button{vertical-align:top;padding:0;line-height:100%;cursor:pointer}

button.buttonSmall{padding:5px 10px}
button.buttonLarge{padding:10px 20px}

button.floating{display:inline-block;margin:0 5px}

button.buttonRounded{display:block;position:relative;margin-bottom:40px;padding:5px 10px 0 15px;width:50px;height:100px}
	button.buttonRounded img{width:30px;height:auto}
	button.buttonRounded:hover span.hidden{display:block!important;position:absolute;z-index:999;top:90%;right:35px;left:auto;white-space:nowrap}