#menuBox ul{list-style:none;margin:0;padding:0}
#menuBox ul li{position:relative;display:inline-block;list-style:none;margin:0 20px 20px 0;padding:0;vertical-align:top}
#menuBox ul li a{display:block;padding:20px}
#menuBox ul li a:hover{position:relative;top:1px;left:1px}
#menuBox ul li a img{width:25px!important;height:auto!important}
#menuBox ul li:hover span.hidden{display:block;position:absolute;z-index:999;top:110%;left:20px;white-space:nowrap}

#contentBox .errorGlobal{padding-left:17%}
#contentBox .errorGlobal p{margin-bottom:20px}
#contentBox ul{list-style:none;margin:0;padding:0}
#contentBox ul li{position:relative;display:block;list-style:none;margin:0 20px 20px 0;padding:0;vertical-align:top}
#contentBox ul li:before{content:'!';padding-right:5px}
