html,body{margin:0;padding:0;width:100%;height:100%;font-weight:normal;line-height:150%}

#bgBox{}
#bgWrap{}

/* --- MISC --- */
#bgBox .hidden{display:none}

/* --- HEADER --- */
#headerBox{position:relative;z-index:555;margin:0 auto;width:80%}
	#menuBox,#logoBox{display:inline-block;margin:30px 0 10px 0;width:49.5%;vertical-align:top}
	#logoBox{text-align:right}

/* --- CONTENT --- */
#contentBox{width:100%}
	div.subPartTitle{position:absolute;top:35px;width:100%;text-align:center}
		.subPartTitle h1,.subPartTitle h2{display:inline-block}
	div.subPart{padding:2% 0;text-align:center}
		.editMenu{margin-bottom:20px;text-align:center}
		.editArea.fiftypercent.right{width:32%;}
		.editArea.fiftypercent.left{width:32%;float:left;}
		.editArea,.errorGlobal{margin:0 auto;width:100%;}
		.submitArea{position:absolute;z-index:999;top:20%;right:0}
		.resultTable{margin:0 auto;width:89%}