.w3-bp-green
{color:#fff;background-color:#027850}

.w3-pb-red
{color:#fff;background-color:#B82907}

.w3-pb-red-l5 {color:#000 !important; background-color:#fef0ec !important}
.w3-pb-red-l4 {color:#000 !important; background-color:#fdcdc1 !important}
.w3-pb-red-l3 {color:#000 !important; background-color:#fb9b83 !important}
.w3-pb-red-l2 {color:#fff !important; background-color:#f86945 !important}
.w3-pb-red-l1 {color:#fff !important; background-color:#f43809 !important}
.w3-pb-red-d1 {color:#fff !important; background-color:#a42606 !important}
.w3-pb-red-d2 {color:#fff !important; background-color:#922105 !important}
.w3-pb-red-d3 {color:#fff !important; background-color:#7f1d05 !important}
.w3-pb-red-d4 {color:#fff !important; background-color:#6d1904 !important}
.w3-pb-red-d5 {color:#fff !important; background-color:#5b1503 !important}

.w3-pb-red-light {color:#000 !important; background-color:#fef0ec !important}
.w3-pb-red-dark {color:#fff !important; background-color:#5b1503 !important}
.w3-pb-red-action {color:#fff !important; background-color:#5b1503 !important}

.w3-pb-red {color:#fff !important; background-color:#b82907 !important}
.w3-text-pb-red {color:#b82907 !important}
.w3-pb-red-border {border-color:#b82907 !important}
.w3-hover-pb-red:hover {color:#fff !important; background-color:#b82907 !important}

w3-pb-yellow
{color:#fff;background-color:#ffab00}
.w3-pb-yellow-l5 {color:#000 !important; background-color:#fffaf0 !important}
.w3-pb-yellow-l4 {color:#000 !important; background-color:#ffeecc !important}
.w3-pb-yellow-l3 {color:#000 !important; background-color:#ffdd99 !important}
.w3-pb-yellow-l2 {color:#000 !important; background-color:#ffcc66 !important}
.w3-pb-yellow-l1 {color:#000 !important; background-color:#ffbb33 !important}
.w3-pb-yellow-d1 {color:#fff !important; background-color:#e69900 !important}
.w3-pb-yellow-d2 {color:#fff !important; background-color:#cc8800 !important}
.w3-pb-yellow-d3 {color:#fff !important; background-color:#b37700 !important}
.w3-pb-yellow-d4 {color:#fff !important; background-color:#996600 !important}
.w3-pb-yellow-d5 {color:#fff !important; background-color:#805500 !important}

.w3-pb-yellow-light {color:#000 !important; background-color:#fffaf0 !important}
.w3-pb-yellow-dark {color:#fff !important; background-color:#805500 !important}
.w3-pb-yellow-action {color:#fff !important; background-color:#805500 !important}

.w3-pb-yellow {color:#000 !important; background-color:#ffab00 !important}
.w3-text-pb-yellow {color:#ffab00 !important}
.w3-pb-yellow-border {border-color:#ffab00 !important}
.w3-hover-pb-yellow:hover {color:#000 !important; background-color:#ffab00 !important}


.w3-pb-blue
{color:#fff;background-color:#00477e}

.w3-pb-blue-l5 {color:#000 !important; background-color:#e8f5ff !important}
.w3-pb-blue-l4 {color:#000 !important; background-color:#b3deff !important}
.w3-pb-blue-l3 {color:#000 !important; background-color:#66bdff !important}
.w3-pb-blue-l2 {color:#fff !important; background-color:#1a9cff !important}
.w3-pb-blue-l1 {color:#fff !important; background-color:#0074cc !important}
.w3-pb-blue-d1 {color:#fff !important; background-color:#004173 !important}
.w3-pb-blue-d2 {color:#fff !important; background-color:#003a66 !important}
.w3-pb-blue-d3 {color:#fff !important; background-color:#003359 !important}
.w3-pb-blue-d4 {color:#fff !important; background-color:#002b4d !important}
.w3-pb-blue-d5 {color:#fff !important; background-color:#002440 !important}

.w3-pb-blue-light {color:#000 !important; background-color:#e8f5ff !important}
.w3-pb-blue-dark {color:#fff !important; background-color:#002440 !important}
.w3-pb-blue-action {color:#fff !important; background-color:#002440 !important}

.w3-pb-blue {color:#fff !important; background-color:#00477e !important}
.w3-text-pb-blue {color:#00477e !important}
.w3-pb-blue-border {border-color:#00477e !important}
.w3-hover-pb-blue:hover {color:#fff !important; background-color:#00477e !important}