/ljprojectbuilder/generator/.settings
/target/
/projectbuilder-delivery/

**/.settings
**/.project
**/.classpath
**/target


/vs-workspace.code-workspace
.drawio-chrome/chrome-data/Local State
.drawio-chrome/chrome-data/Default/Network Persistent State
.drawio-chrome/chrome-data/Default/Preferences
.history
rest/src/test/actual.json
rest/src/test/test.json
generator/.factorypath
node_modules/@starwit/react-starwit
helm/ljprojectbuilder/user-values.yaml
test.log
