/ljprojectbuilder/generator/.settings
/target/
/projectbuilder-delivery/

**/.settings
**/.project
**/.classpath
**/target

**/.vscode
/vs-workspace.code-workspace
.drawio-chrome/chrome-data/Local State
.drawio-chrome/chrome-data/Default/Network Persistent State
.drawio-chrome/chrome-data/Default/Preferences
.history
rest/src/test/actual.json
rest/src/test/test.json
generator/.factorypath
webclient/app/package-lock.json
