<div class="w3-row-padding w3-container">
	<div class="w3-row-padding">
		<div class="w3-half">
			<h2>{{title | translate}} {{ctrl.domain.project.title}}</h2>
		</div>
		<div class="w3-half">
			<div class="w3-right w3-padding-top">
				<button class="w3-btn w3-theme w3-round-xxlarge " ng-click="ctrl.gotoDomain.create(ctrl.projectid);"><i class="fa fa-plus"></i> {{'button.add' | translate}}</button>
			</div>
		</div>
	</div>	
	<div class="w3-row-padding">	
		<div class="w3-accordion" ng-repeat="domain in ctrl.domainAll">
			<button ng-click="ctrl.showDetails(domain.id);" ng-dblclick="ctrl.gotoDomain.update(ctrl.projectid, domain.id);" class="w3-margin-top w3-border w3-btn-block w3-left-align w3-theme-l4 w3-card-4">
				<h3>{{domain.name}}</h3>
				<span>{{domain.description}}</span>
			</button>
			<div id="{{domain.id}}" class="w3-accordion-content w3-padding-16 w3-card-4 w3-hoverable" ng-dblclick="ctrl.gotoDomain.update(ctrl.projectid, domain.id);">
			  	<span ng-click="ctrl.deleteDomain(domain.id);" class="w3-closebtn w3-padding">x</span>
			    <h3>{{'attribute.all.title' | translate}}</h3>
			    <table class="w3-table-all">
					<thead >
						<tr class="w3-theme-l3">
							<th>{{'attribute.name' | translate}}</th>
							<th>{{'attribute.description' | translate}}</th>
							<th>{{'attribute.type' | translate}}</th>
							<th>{{'attribute.pattern' | translate}}</th>
							<th>{{'attribute.max' | translate}}</th>
							<th>{{'attribute.min' | translate}}</th>
						</tr>	
					</thead>
					<tbody>
						<tr ng-repeat="attribute in ctrl.domain.attributes">
			
							<td>{{attribute.name}}</td>
							<td>{{attribute.description}}</td>
							<td>{{attribute.type}}</td>
							<td>{{attribute.pattern}}</td>
							<td>{{attribute.max}}</td>
							<td>{{attribute.min}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
</div>