<div ng-include="'shared/dialogs/dialog.success.html'"></div>
<div ng-include="'shared/dialogs/dialog.error.html'"></div>
<div class="w3-row-padding w3-container">
 	<div class="w3-row-padding">
	<form class="editForm" name="domainForm">   
		<div class="w3-half"><h2>{{title | translate}}</h2></div>
		<div class="w3-right w3-padding-top"><button class="w3-btn w3-pb-red w3-round-xxlarge" ng-click="ctrl.doMaintain();"><i class="fa fa-save"></i>{{'button.save' | translate}}</button></div>
	
			<div class="w3-container">
				<div class="w3-group">
				</div>
			</div>
	
		<div class="w3-half w3-row-padding">
			<div class="w3-group">
				<input name="name" class="w3-input" id="name" type="text" ng-model="ctrl.domain.name"  required />
				<label class="w3-label w3-validate">{{'domain.name' | translate}}</label>
				<label class="w3-label w3-validate w3-tiny w3-right" ng-show="domainForm.name.$error.required">{{'error.required' | translate}}</label>
			</div>
		</div>	

		<div class="w3-half w3-row-padding">
			<div class="w3-group">
				<input name="description" class="w3-input" id="description" type="text" ng-model="ctrl.domain.description"  required />
				<label class="w3-label w3-validate">{{'domain.description' | translate}}</label>
				<label class="w3-label w3-validate w3-tiny w3-right" ng-show="domainForm.description.$error.required">{{'error.required' | translate}}</label>
			</div>
		</div>	
		<br /><br /><br /><br /><br /><br />
		<div class="w3-col">
			<div class="w3-half">
				<h3>{{'attribute.all.title' | translate}}</h3>
			</div>
			
			<div class="w3-half w3-row-padding">
				<div class="w3-right w3-padding-top">
					<button class="w3-btn w3-theme w3-round-xxlarge" ng-click="ctrl.addAttribute();"><i class="fa fa-plus"></i> Hinzuf&uuml;gen</button>
				</div>
			</div>

		    <table class="w3-table-all">
				<thead>
					<tr class="w3-theme-l3">
						<th>{{'attribute.name' | translate}}
							<label class="w3-label w3-validate w3-tiny w3-right" ng-show="domainForm.attributename.$error.required">{{'error.required' | translate}}</label>
						</th>
						<th>{{'attribute.description' | translate}}
							<label class="w3-label w3-validate w3-tiny w3-right" ng-show="domainForm.attributename.$error.required">{{'error.required' | translate}}</label>
						</th>
						<th>{{'attribute.type' | translate}}</th>
						<th>{{'attribute.pattern' | translate}}</th>
						<th>{{'attribute.max' | translate}}</th>
						<th>{{'attribute.min' | translate}}</th>
						<th></th>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat="attribute in ctrl.domain.attributes track by $index">
						<td>
							<input name="attributename" class="w3-input" id="attributename" type="text" ng-model="attribute.name"  required />
						</td>
						<td><input name="attributedescription" class="w3-input" id="attributedescription" type="text" ng-model="attribute.description"/></td>
						<td><select class="w3-select w3-border" name="dataTypes" id="dataTypes" ng-model="attribute.dataType" ng-options="dataType as dataType for dataType in ctrl.dataTypes" required></select></td>
						<td><input name="attributepattern" class="w3-input" id="attributepattern" type="text" ng-model="attribute.pattern"/></td>
						<td><input name="attributemax" class="w3-input" id="attributemax" type="text" ng-model="attribute.max"/></td>
						<td><input name="attributemin" class="w3-input" id="attributemin" type="text" ng-model="attribute.min"/></td>
						<td><span ng-click="removeAttribute($index);"  class="w3-closebtn w3-padding">x</span></td>
					</tr>
				</tbody>
			</table>
		</div>	
	</form>	
	</div>	
</div>  