<div id="headerBox" ng-include="'shared/menus/menu.project.html'"></div>

<div id="subheaderBox">
	<div class="top">
		<span class="navBar">
			<ul>
			  <li class="step1 act"><a href="#/viewcomponents/project-maintain/update/{{ctrl.projectid}}">Details</a></li>
			  <li class="step2 act"><a href="#/viewcomponents/domain-byproject/{{ctrl.projectid}}" ng-click="ctrl.doMaintainDomain();">Domainobjekte</a></li>
			  <li class="step3"><a href="#/viewcomponents/generator/generate/{{ctrl.projectid}}" ng-click="ctrl.doMaintainGenerate();">Generierung</a></li>
			  <li class="clearer"></li>
			</ul>
		</span>
		<button class="icon back hint" ng-click="ctrl.gotoDomain.prev(ctrl.projectid);"><span>{{'button.back' | translate}}</span></button>
		<button class="icon next right hint" ng-click="ctrl.gotoDomain.next(ctrl.projectid);" title="{{'button.next' | translate}}"><span>{{'button.next' | translate}}</span></button>
		<div class="clearer"></div>
	</div>
	<div class="bottom aCenter">
		<span class="button add"><a ng-click="ctrl.gotoDomain.create(ctrl.projectid);">+ Domain {{'button.add' | translate}}</a></span>
	</div>
</div>

<div id="bodyBox">
	<div class="contain">
		<ul class="itemList">
			<li class="odd" ng-repeat="domain in ctrl.domainAll">
				<span class="rulerAfter" ng-click="ctrl.showDetails(domain.id);" ng-dblclick="ctrl.gotoDomain.update(ctrl.projectid, domain.id);">
					<h3>{{domain.name}}</h3>
					<p>{{domain.description}}</p>
				</span>
				<span class="button delete"><a ng-click="$event.stopPropagation();ctrl.deleteDomain(domain.id);">x</a></span>
				<h3>{{'attribute.all.title' | translate}}</h3>
				<table id="{{domain.id}}" ng-dblclick="ctrl.gotoDomain.update(ctrl.projectid, domain.id);">
			    	<colgroup>
			    		<col class="">
			    		<col class="">
			    		<col class="">
			    		<col class="">
			    		<col class="">
			    		<col class="">
			    	</colgroup>
			    	<thead>
						<tr>
							<th>{{'attribute.name' | translate}}</th>
							<th>{{'attribute.description' | translate}}</th>
							<th>{{'attribute.type' | translate}}</th>
							<th>{{'attribute.pattern' | translate}}</th>
							<th>{{'attribute.max' | translate}}</th>
							<th>{{'attribute.min' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="attribute in domain.attributes">
							<td>{{attribute.name}}</td>
							<td>{{attribute.description}}</td>
							<td>{{attribute.dataType}}</td>
							<td>{{attribute.pattern}}</td>
							<td>{{attribute.max}}</td>
							<td>{{attribute.min}}</td>
						</tr>
					</tbody>
				</table>
			</li>
		</ul>
	</div>
</div>

<div id="footerBox">
	<p>&copy; LireJarp</p>
</div>

<div id="dialogBox">
	<div ng-include="'shared/dialogs/dialog.success.html'"></div>
	<div ng-include="'shared/dialogs/dialog.error.html'"></div>
</div>