<div id="headerBox" ng-include="'shared/menus/menu.project.all.html'"></div>

<div id="subheaderBox" class="aCenter">
	<div class="bottom">
		<span class="button add"><a ng-click="ctrl.gotoProject.create();">+ Projekt {{ 'button.add' | translate}}</a></span>
		<div class="clearer"></div>
	</div>
</div>
<div id="bodyBox">
	<div class="contain">
		<ul class="itemList">
			<li class="odd" ng-repeat="project in ctrl.projectAll">
				<table class="acc" id="{{project.id}}" ng-dblclick="ctrl.gotoProject.update(project.id);">
			    	<colgroup>
			    		<col class="">
			    		<col class="">
			    		<col class="">
			    	</colgroup>
					<thead>
						<tr>
							<td><h3>{{project.title}} | {{project.description}}</h3></td>
							<td class="aCenter">
								<span class="button"><a ng-click="ctrl.showDetails(project.id);" ng-dblclick="ctrl.gotoProject.update(project.id);">Details | Bearbeiten</a></span>
							</td>
							<td class="aRight">
								<span class="button delete"><a ng-click="$event.stopPropagation();ctrl.deleteProject(project.id);">x</a></span>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<table>
									<tr>
										<td colspan="2"><h4>{{'project.template' | translate}}</h4></td>
									</tr>
									<tr>
										<th>{{'project.location' | translate}}:</th>
										<td>{{project.template.templateLocation}}</td>
									</tr>
									<tr>
										<th>{{'project.title' | translate}}:</th>
										<td>{{project.template.templateTitle}}</td>
									</tr>
									<tr>
										<th>{{'project.packageprefix' | translate}}:</th>
										<td>{{project.template.templatePackagePrefix}}</td>
									</tr>
								</table>
							</td>
							<td>&nbsp;</td>
							<td>
								<table>
									<tr>
										<td colspan="2"><h4>{{'project.target' | translate}}</h4></td>
									</tr>
									<tr>
										<th>{{'project.location' | translate}}:</th>
										<td>{{project.targetPath}}</td>
									</tr>
									<tr>
										<th>{{'project.title' | translate}}:</th>
										<td>{{project.title}}</td>
									</tr>
									<tr>
										<th>{{'project.packageprefix' | translate}}:</th>
										<td>{{project.packagePrefix}}</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</li>
		</ul>
	</div>
</div>

<div id="footerBox">
	<p>&copy; LireJarp</p>
</div>

<div id="dialogBox">
	<div ng-include="'shared/dialogs/dialog.success.html'"></div>
	<div ng-include="'shared/dialogs/dialog.error.html'"></div>
</div>