<div id="headerBox" ng-include="'shared/menus/menu.project.html'"></div>

<div id="subheaderBox">
	<div class="contain">
		<span class="navBar">
			<ul>
			  <li class="step1 act"><a href="#/viewcomponents/project-maintain/update/{{ctrl.projectid}}">{{'navnbar.projectdetails' | translate}}</a></li>
			  <li class="step2"><a href="" ng-click="ctrl.doMaintainDomain();">{{'navnbar.domainobjects' | translate}}</a></li>
			  <li class="step3"><a href="" ng-click="ctrl.doMaintainGenerate();">{{'navnbar.generate' | translate}}</a></li>
			  <li class="clearer"></li>
			</ul>
		</span>
		<button class="icon back hint" ng-click="ctrl.doMaintain(); "><span>{{'button.back' | translate}}</span></button>
		<button class="icon next right hint" ng-click="ctrl.doMaintainDomain(); sent=true;" title="{{'button.savenext' | translate}}"><span>{{'button.save' | translate}} | {{'button.next' | translate}}</span></button>
		<div class="clearer"></div>
	</div>
</div>

<div id="bodyBox">
	<div class="contain">
		<form name="ctrl.form" ng-init="sent=true;"> 
			<fieldset class="odd">
				<table>
					<thead>
						<tr>
							<td><h3>{{'project.template' | translate}}</h3></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<label for="projecttemplates">{{'project.templateselect' | translate}}</label>
								 <select name="projecttemplates" id="projecttemplates" ng-model="ctrl.project.template" ng-options="template as template.title + ' - Repo: ' + template.location + ' - Branch: '  + template.branch for template in ctrl.templateAll track by template.id"></select>
							</td>
							<td>
								<label for="description">{{'project.description' | translate}}</label>
								<input name="description" id="description" type="text" ng-model="ctrl.project.description" />
							</td>
						</tr>
						<tr>
							<td>
								<table>
									<tr>
										<td><span><strong>{{'projecttemplate.title' | translate}}:</strong></span></td>
										<td><span>{{ctrl.project.template.title}}</span></td>
									</tr>
									<tr>
										<td><span><strong>{{'projecttemplate.location' | translate}}</strong></span></td>
										<td><span>{{ctrl.project.template.location}}</span></td>
									</tr>
									<tr>
										<td><span><strong>{{'projecttemplate.branch' | translate}}</strong></span></td>
										<td><span>{{ctrl.project.template.branch}}</span></td>
									</tr>
									<tr>	
										<td><span><strong>{{'projecttemplate.packageprefix' | translate}}</strong></span></td>
										<td><span>{{ctrl.project.template.packagePrefix}}</span></td>
									</tr>
									<tr>	
										<td><span><strong>{{'projecttemplate.description' | translate}}</strong></span></td>
										<td><span>{{ctrl.project.template.description}}</span></td>
									</tr>									
								</table>
							</td>
							<td>&nbsp;</td>
						<tr>
					</tbody>
				</table>
			</fieldset>
			<fieldset class="even">
				<table>
					<thead>
						<tr>
							<td><h3>{{'project.target' | translate}}</h3></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<label for="title">{{'project.title' | translate}}</label>
								<input class="w3-input w3-col" name="title" id="title" type="text" ng-model="ctrl.project.title" required ng-pattern="/^[a-zA-Z0-9]*$/" />
								<label  ng-show="ctrl.form.title.$error == null"></label>
								<label  ng-show="ctrl.form.title.$error.required">{{'error.required' | translate}}</label>
								<label ng-show="ctrl.form.title.$error.pattern">{{'error.project.pattern' | translate}}</label>
							</td>
							<td>
								<label for="packageprefix">{{'project.packageprefix' | translate}}</label>
								<input name="packageprefix" id="packageprefix" type="text" ng-model="ctrl.project.packagePrefix" required ng-pattern="/^[a-zA-Z0-9]*$/" />
								<label ng-show="ctrl.form.packageprefix.$error.required">{{'error.required' | translate}}</label>
								<label ng-show="ctrl.form.packageprefix.$error.pattern">{{'error.project.pattern' | translate}}</label>
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>	
		</form>
	</div>
</div>  
<div id="dialogBox">
	<div ng-include="'shared/dialogs/dialog.success.html'"></div>
	<div ng-include="'shared/dialogs/dialog.error.html'"></div>
</div>