<div class="subPart personAll">
	<div class="subPartTitle"><h1>{{title | translate}}</h1></div>
	<div class="editMenu">
		<button class="buttonLarge grey floating" ng-click="gotoCreateProject();">erstellen</button>
		<button class="buttonLarge grey floating" ng-click="idSelected != null && gotoUpdateProject(idSelected);" ng-disabled="idSelected == null">bearbeiten</button>
		<button class="buttonLarge grey floating" ng-click="idSelected != null && deleteProject(idSelected);" ng-disabled="idSelected == null">l&ouml;schen</button>
	</div>
	<div class="resultTable">
		<table>
		<thead>
			<tr>
				<th>{{'project.title' | translate}}</th>
				<th>{{'project.templatelocation' | translate}}</th>
				<th>{{'project.packagePrefix' | translate}}</th>
				<th>{{'project.description' | translate}}</th>
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat="project in projectAll" ng-click="setSelected(project.id)" 
				ng-class="{selected: project.id === idSelected }" 
				ng-dblclick="setSelected(project.id);gotoUpdateProject(idSelected);">

				<td>{{project.title}}</td>
				<th>{{'project.templatelocation' | translate}}</th>
				<td>{{project.packagePrefix}}</td>
				<td>{{project.description}}</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
		</table>
		</div>	
	</div>
</div>