<div ng-include="'shared/dialogs/dialog.success.html'"></div>
<div ng-include="'shared/dialogs/dialog.error.html'"></div>
<div class="w3-row-padding w3-container">
 	<div class="w3-row-padding">
		<form id="projectForm" name="projectForm" ng-init="sent=true;"> 
			<div class="w3-half"><h2>{{title | translate}}</h2></div>
			<div class="w3-right w3-padding-top"><button id="save" class="w3-btn w3-pb-red w3-round-xxlarge" ng-click="ctrl.doMaintain(); sent=true;"><i class="fa fa-save"></i> {{'button.save' | translate}}</button></div>
		
			<div class="w3-container">
				<div class="w3-group">
					<input class="w3-input" name="description" id="description" type="text" ng-model="ctrl.project.description" />
					<label class="w3-label w3-validate" for="description">{{'project.description' | translate}}</label>						
				</div>
			</div>
			
			<div class="w3-half w3-row-padding">
				<div class="w3-container w3-card-4">
					<h3>{{'project.template' | translate}}</h3>
					<div class="w3-group">
					<table>
						<tr>
							<td><label class="w3-label w3-validate" for="templatetitle">{{'project.templatetitle' | translate}}</label></td><td><span>{{ctrl.project.template.templateTitle}}</span></td>
						</tr>
						<tr>
							<td><label class="w3-label w3-validate" for="templatelocation">{{'project.templatelocation' | translate}}</label></td><td><span>{{ctrl.project.template.templateLocation}}</span></td>
						</tr>
						<tr>	
							<td><label class="w3-label w3-validate" for="templatepackageprefix">{{'project.templatepackageprefix' | translate}}</label></td><td><span>{{ctrl.project.template.templatePackagePrefix}}</span></td>
						</tr>
					</table>
					</div>	
				</div>
			</div>
			
			<div class="w3-half w3-row-padding">
				<div class="w3-container w3-card-4">
					<h3>{{'project.target' | translate}}</h3>
					<div class="w3-group">
						<input type="text" ng-pattern="/^[:\\/a-zA-Z0-9]*$/" class="w3-input w3-col" name="targetpath" id="targetpath" type="text" ng-model="ctrl.project.targetPath" required />
						<label class="w3-label w3-validate" for="targetpath">{{'project.targetpath' | translate}}</label>
						<label class="w3-label w3-validate w3-tiny w3-right"  ng-show="projectForm.targetpath.$error.required">{{'error.required' | translate}}</label>
						<label class="w3-label w3-validate w3-tiny w3-right"  ng-show="projectForm.targetpath.$error.pattern">{{'error.pattern' | translate}}</label>
					</div>
					<div class="w3-group">
						<input class="w3-input w3-col" name="title" id="title" type="text" ng-model="ctrl.project.title" required  />
						<label class="w3-label w3-validate" for="title">{{'project.title' | translate}}</label>
						<label class="w3-label w3-validate w3-tiny w3-right"  ng-show="projectForm.title.$error.required">{{'error.required' | translate}}</label>
					</div>
					<div class="w3-group">
						<input class="w3-input w3-col" name="packageprefix" id="packageprefix" type="text" ng-model="ctrl.project.packagePrefix" required />
						<label class="w3-label w3-validate" for="packageprefix">{{'project.packageprefix' | translate}}</label>
						<label class="w3-label w3-validate w3-tiny w3-right"  ng-show="projectForm.packageprefix.$error.required">{{'error.required' | translate}}</label>
					</div>
				</div>
			</div>	
		</form>		
	</div>	
</div>  
