<div class="subPartTitle"><h1>{{title | translate}}</h1></div>
<div class="subPart addressSingle">
	<form class="editForm" name="projectForm">   
			<div class="errorGlobal">
				<b>{{message}}</b>
				<ul>
					<li ng-repeat="error in validationErrors">{{error.fieldname}}: {{error.message}}</li>
				</ul>
			</div>
		<div class="editArea">
			<fieldset>
				<span class="error" ng-show="projectForm.title.$error.required">{{'error.required' | translate}}</span><div class="clear"></div>	
				<label for="title">{{'project.title' | translate}}:</label>
				<input name="title" id="title" type="text" ng-model="project.title" required />
				<div class="clear"></div>
			</fieldset>
			<fieldset>
				<span class="error" ng-show="projectForm.templatelocation.$error.required">{{'error.required' | translate}}</span><div class="clear"></div>	
				<label for="templatelocation">{{'project.templatelocation' | translate}}:</label>
				<input name="templatelocation" id="templatelocation" type="text" ng-model="project.templateLocation" required />
				<div class="clear"></div>
			</fieldset>				
			<fieldset>
				<span class="error" ng-show="projectForm.packageprefix.$error.required">{{'error.required' | translate}}</span><div class="clear"></div>	
				<label for="packageprefix">{{'project.packageprefix' | translate}}:</label>
				<input name="packageprefix" id="packageprefix" type="text" ng-model="project.packagePrefix" required />
				<div class="clear"></div>
			</fieldset>	
			<fieldset>
				<span class="error" ng-show="projectForm.description.$error.required">{{'error.required' | translate}}</span><div class="clear"></div>	
				<label for="description">{{'project.description' | translate}}:</label>
				<input name="description" id="description" type="text" ng-model="project.description" required />
				<div class="clear"></div>
			</fieldset>	
		</div>
		<div class="submitArea">
			<button class="buttonRounded green" ng-click="doMaintain()"><img src="res/img/symbols/save-wh.png" border="0" /><span class="hidden">Speichern</span></button>
			<button class="buttonRounded blue" ng-click="doMaintain()"><img src="res/img/symbols/generate.png" border="0" /><span class="hidden">Generieren</span></button>
			<button class="buttonRounded grey" ng-click="doBack()"><img src="res/img/symbols/refresh-wh.png" border="0" /><span class="hidden">Formular zur&uuml;cksetzen</span></button>
		</div>
	</form>	
</div>