<div id="headerBox" ng-include="'shared/menus/menu.app.all.html'"></div>

<div id="subheaderBox">
	<div class="container">
		<button class="icon import right hint" ng-click="ctrl.showImportDialog();" title="{{'button.import' | translate}}"><span>{{'button.import' | translate}}</span></button>
		<button class="icon add right hint" ng-click="ctrl.gotoAppTemplate.create();" title="{{'button.add' | translate}}"><span>{{'button.add' | translate}}</span></button>
		<div class="clearer"></div>
	</div>
</div>
<div id="bodyBox">
	<div class="contain">
		<ul class="itemList">
			<li class="list" ng-repeat="apptemplate in ctrl.apptemplateAll"  ng-click="ctrl.showDetails(apptemplate.id);" ng-dblclick="ctrl.gotoAppTemplate.update(apptemplate.id);">
				<table class="acc" id="{{apptemplate.id}}" >
			    	<colgroup>
			    		<col class="">
			    		<col class="">
			    		<col class="">
			    	</colgroup>
					<thead>
						<tr>
							<td class="aLeft">
								<span class="button show"><a ng-click="$event.stopPropagation();ctrl.showDetails(apptemplate.id);"><b>{{ctrl.detailsign}}</b></a></span>
								<span class="button"><a ng-click="$event.stopPropagation();ctrl.gotoAppTemplate.update(apptemplate.id);">{{'button.update' | translate}}</a></span>
								<span class="button"><a ng-click="$event.stopPropagation();ctrl.gotoAppTemplate.copy(apptemplate.id);">{{'button.copy' | translate}}</a></span>
								<span class="button"><a ng-click="$event.stopPropagation();ctrl.exportAppTemplate(apptemplate);">{{'button.export' | translate}}</a></span>
							</td>
							<td class="aCenter">
								<h3>{{apptemplate.title}} - {{apptemplate.branch}}</h3>
								<span>{{apptemplate.description}}</span>
							</td>
							<td class="aRight">
								<span class="button delete"><a ng-click="$event.stopPropagation();ctrl.deleteAppTemplate(apptemplate.id);">x</a></span>
							</td>
						</tr>
					</thead>
					<tbody class="listcontent">
									<tr>
										<td colspan="3"><h4>{{'app.template' | translate}}</h4></td>
									</tr>
									<tr>
										<th>{{'apptemplate.title' | translate}}:</th>
										<td colspan=2 >{{apptemplate.title}}</td>
									</tr>
									<tr>
										<th>{{'apptemplate.packageprefix' | translate}}:</th>
										<td colspan=2 >{{apptemplate.packagePrefix}}</td>
									</tr>
									<tr>
										<th>{{'apptemplate.location' | translate}}:</th>
										<td colspan=2 >{{apptemplate.location}}</td>
									</tr>		
									<tr>
										<th>{{'apptemplate.branch' | translate}}:</th>
										<td colspan=2 >{{apptemplate.branch}}</td>
									</tr>																				
					</tbody>
				</table>
			</li>
		</ul>
	</div>
</div>
<div id="dialogBox">
	<div ng-include="'shared/dialogs/dialog.success.html'"></div>
	<div ng-include="'shared/dialogs/dialog.error.html'"></div>
	<div ng-include="'shared/dialogs/dialog.import.html'"></div>
</div>