<div id="headerBox" ng-include="'shared/menus/menu.apptemplate.html'"></div>
<div id="subheaderBox">
	<div class="contain">
		<button class="icon back hint" ng-click="ctrl.doGotoAppTemplateAll(); "><span>{{'button.back' | translate}}</span></button>
		<button class="icon save right hint" ng-click="ctrl.doMaintain(); sent=true;" title="{{'button.save' | translate}}"><span>{{'button.save' | translate}}</span></button>
		<div class="clearer"></div>
	</div>
</div>
<div id="bodyBox">
	<div class="contain">
		<form name="ctrl.form" ng-init="sent=true;"> 
			<fieldset class="odd">
				<table>
					<thead>
						<tr>
							<td><h3>{{'apptemplate.details' | translate}}</h3></td>
						</tr>
					</thead>
					<tbody>
						<tr>						
							<td>
								<label for="location">{{'apptemplate.location' | translate}}</label>
								<input name="location" id="location" type="text" placeholder="https://github.com/witchpou/lirejarp.git" ng-model="ctrl.apptemplate.location" required />
								<label  ng-show="ctrl.form.location.$error.required">{{'error.required' | translate}}</label>
								<br />
								<label for="credentialsRequired">{{'apptemplate.credentials' | translate}}</label>
								<input name="credentialsRequired" type="checkbox" ng-model="ctrl.apptemplate.credentialsRequired" />
							</td>
							<td>
								<label for="branch">{{'apptemplate.branch' | translate}}</label>
								<input name="branch" id="branch" type="text" placeholder="master" ng-model="ctrl.apptemplate.branch" ng-pattern="/^[a-zA-Z0-9]*$/"/>
								<label ng-show="ctrl.form.branch.$error.pattern">{{'error.app.pattern' | translate}}</label>
							</td>							
						<tr>
						<tr><td>&nbsp;</td></tr>					
						<tr>
							<td>
								<label for="title">{{'apptemplate.title' | translate}}</label>
								<input name="title" id="title" type="text" placeholder="lirejarp" ng-model="ctrl.apptemplate.title" required ng-pattern="/^([a-zA-Z_0-9]|-)*$/"/>
								<label  ng-show="ctrl.form.title.$error.required">{{'error.required' | translate}}</label>
								<label ng-show="ctrl.form.title.$error.pattern">{{'error.app.pattern' | translate}}</label>		
								<label for="packageprefix">{{'apptemplate.packageprefix' | translate}}</label>
								<input name="packageprefix" id="packageprefix" type="text" placeholder="starwit" ng-model="ctrl.apptemplate.packagePrefix" required ng-pattern="/^([a-zA-Z_0-9]|-)*$/"/>
								<label  ng-show="ctrl.form.packageprefix.$error.required">{{'error.required' | translate}}</label>
								<label ng-show="ctrl.form.packageprefix.$error.pattern">{{'error.app.pattern' | translate}}</label>			
							</td>
							<td>
								<label for="description">{{'apptemplate.description' | translate}}</label>
								<textarea rows="3" name="description" id="description" type="text" ng-model="ctrl.apptemplate.description">
								</textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
			<fieldset class="even">
				 <table>
		    	<colgroup>
		    		<col class="">
		    		<col class="w10">
		    		<col class="w3">
		    	</colgroup>
		    	<thead>
					<tr>
						<td>
							<h3>{{'templatefile' | translate}}</h3>
						</td>
						<td colspan="2" class="aRight">
							<span class="button"><a ng-click="ctrl.addTemplateFile();">+ {{'button.add' | translate}}</a><span>
						</td>
					</tr>
				</thead>
				<tbody>
						<tr>
							<th>
								<table>
									<tr class="even">
										<td>{{'templatefile.category' | translate}} </td>
										<td>{{'templatefile.filenamesuffix' | translate}}</td>
										<td>{{'templatefile.type' | translate}}</td>
									</tr>
								</table>
							</th>
						</tr>
						<tr ng-repeat="ct in ctrl.apptemplate.templateFiles track by $index">
						<td>{{$index}} 
							<div>
							<table>
								<tr>
									<td>
										<select name="category" id="category" ng-model="ct.category" ng-options="category as category.name for category in ctrl.categoryAll track by category.id"></select>
									</td>								
									<td>
										<input placeholder="{{'templatefile.filenamesuffix' | translate}}" name="ctfilenamesuffix" id="ctfilenamesuffix" type="text" ng-model="ct.fileNameSuffix" required/>
										<label ng-show="ctrl.form.ctfilenamesuffix.$error.required">{{'error.required' | translate}}</label>
									</td>
									<td>
										<select placeholder="{{'templatefile.type' | translate}}" name="cttype" id="cttype" ng-model="ct.type" ng-options="type for type in ctrl.templateTypes"></select>	
									</td>
								</tr>
							</table>
							</div>
							<div>
							<table>
								<tr>
									<th>{{'templatefile.templatepath' | translate}}:</th>
									<td colspan=2>
										<input placeholder="{{'templatefile.templatepath' | translate}}" name="cttemplatePath" id="cttemplatePath" type="text" ng-model="ct.templatePath" required/>
										<label ng-show="ctrl.form.cttemplatePath.$error.required">{{'error.required' | translate}}</label>
									</td>
								</tr>
								<tr>
									<th>{{'templatefile.targetpath' | translate}}:</th>
									<td colspan=2>
										<input placeholder="{{'templatefile.targetpath' | translate}}" name="cttargetpath" id="cttargetpath" type="text" ng-model="ct.targetPath" required/>
										<label ng-show="ctrl.form.cttargetpath.$error.required">{{'error.required' | translate}}</label>
									</td>
								</tr>
							</table>
							</div>
							</td>
						<td>
							<br />
							<div><input placeholder="{{'templatefile.lowercase' | translate}}" name="ctlowercase" id="ctlowercase" type="checkbox" ng-model="ct.lowerCase"/>{{'templatefile.lowercase' | translate}}</div>
							<div><input placeholder="{{'templatefile.createdomaindir' | translate}}" name="ctcreatedomaindir" id="ctcreatedomaindir" type="checkbox" ng-model="ct.createDomainDir"/>{{'templatefile.createdomaindir' | translate}}</div>
							<input placeholder="{{'templatefile.uppercasefirst' | translate}}" name="ctuppercasefirst" id="ctuppercasefirst" type="checkbox" ng-model="ct.upperCaseFirst"/>{{'templatefile.uppercasefirst' | translate}} 
						</td>
						<td class="aRight">
								<span class="button grey"><a ng-click="ctrl.removeTemplateFile($index);">x</a></span>
						</td>
					</tr>
				</tbody>
			</table>
			</fieldset>	
		</form>
	</div>
</div>  
<div id="dialogBox">
	<div ng-include="'shared/dialogs/dialog.success.html'"></div>
	<div ng-include="'shared/dialogs/dialog.error.ext.html'"></div>
</div>