.App {
  background-color: #edf0f2;
  min-height: 100vh;
  min-width: 100vh;
}

.App-wrapper {
  background-color: #edf0f2;
  min-height: 100vh;
  display: flex;
  width: 100%;
}

.App-content {
  /*height: auto;*/
  margin-top: 80px;
  max-width: calc(100% - 300px);
  max-height: calc(100% - 80px);
  left: 280px;
  margin-left: 300px;
  /*position: relative;*/
}

.marked {
  background: white !important;
}


/* Tables */

table {
  margin: 30px 0;
}

table tr {
  background-color: #ffffff;
  height: 50px;
}

table td {
  padding: 10px 20px;
}

  
