<div class="w3-row-padding w3-container">
	<form id="projectForm" name="projectForm" class="w3-container"> 
		<div class="w3-row-padding">
			<div class="w3-half"><h2>{{title | translate}}</h2></div>
		</div>
		
		<div class="w3-row-padding">
		<div class="w3-half"><h3>{{'generator.title.projectsetup' | translate}}</h2></div>
		<div class="w3-right w3-padding-top"><button class="w3-btn w3-pb-red w3-round-xxlarge" ng-click="doProjectSetupAll();"><i class="fa fa-gear"></i> {{'generator.button.createproject' | translate}}</button></div>
		
			<table class="w3-table-all">
				<thead>
					<tr class="w3-theme-l3">
						<th>{{'project.label' | translate}}</th>
						<th>{{'project.template' | translate}}</th>
						<th>{{'project.target' | translate}}</th>
					</tr>	
				</thead>
				<tbody>
					<tr>
						<td class="w3-theme-l5">{{'project.location' | translate}}</td>
						<td>{{ctrl.generatorDto.project.template.templateLocation}}</td>
						<td>{{ctrl.generatorDto.project.targetPath}}</td>
					</tr>
					
					<tr>
						<td class="w3-theme-l5">{{'project.title' | translate}}</td>
						<td>{{ctrl.generatorDto.project.template.templateTitle}}</td>
						<td>{{ctrl.generatorDto.project.title}}</td>
					</tr>
					
					<tr>
						<td class="w3-theme-l5">{{'project.packageprefix' | translate}}</td>
						<td>{{ctrl.generatorDto.project.template.templatePackagePrefix}}</td>
						<td>{{ctrl.generatorDto.project.packagePrefix}}</td>
					</tr>
				</tbody>
			</table>
		</div>	
		
		<div class="w3-padding-top" ng-if="ctrl.domainAll != null && ctrl.domainAll.length > 0">
			<div class="w3-container w3-padding-top">
				<div class="w3-half w3-padding-top"><h3>{{'generator.title.domains' | translate}}</h3></div>
				<div class="w3-right w3-padding-top"><button class="w3-btn w3-pb-red w3-round-xxlarge" ng-click="ctrl.generate();"><i class="fa fa-gear"></i> {{'generator.button.generatedomains' | translate}}</button></div>
			</div>
					
			<div class="w3-half w3-row-padding">
				<div ng-repeat="domain in ctrl.domainAll">
					<p />
					<input class="w3-check" type="checkbox" checked="true" ng-model="domain.selected"/>
					<label class="w3-validate">{{domain.name}}</label>
				</div>
			</div>		
				
			<div class="w3-half w3-row-padding">
				<p />
				<input class="w3-check" type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateEntity">
				<label class="w3-validate">{{'generator.entity' | translate}}</label>
				
				<p />
				<input class="w3-check" type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateService">
				<label class="w3-validate">{{'generator.backend' | translate}}</label>
				
				<p />
				<input class="w3-check" type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateRest">
				<label class="w3-validate">{{'generator.rest' | translate}}</label>
						
				<p />
				<input class="w3-check" type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateFrontend">
				<label class="w3-validate">{{'generator.frontend' | translate}}</label>
				
				<p />
				<input class="w3-check" type="checkbox" checked="false" ng-model="ctrl.generatorDto.generateTests">
				<label class="w3-validate">{{'generator.testdata' | translate}}</label>
			</div>	
		</div>	
	</form>	
</div>	