<div id="headerBox" ng-include="'shared/menus/menu.project.html'"></div>

<div id="subheaderBox">
	<div class="contain">
		<span class="navBar">
			<ul>
			  <li class="step1 act"><a href="#/viewcomponents/project-maintain/update/{{ctrl.projectid}}">Details</a></li>
			  <li class="step2 act"><a href="#/viewcomponents/domain-byproject/{{ctrl.projectid}}">Domainobjekte</a></li>
			  <li class="step3 act"><a href="">Generierung</a></li>
			  <li class="clearer"></li>
			</ul>
		</span>
		<button class="icon back hint" href="#/viewcomponents/domain-byproject/{{ctrl.projectid}}"><span>{{'button.back' | translate}}</span></button>
		<button class="icon save right hint" ng-click="ctrl.doProjectSetupAll();"><span>{{'generator.button.createproject' | translate}}</span></button>
		<div class="clearer"></div>
	</div>
</div>

<div id="bodyBox">
	<div class="contain">
		<form id="projectForm" name="ctrl.form"> 
			<fieldset class="odd">
				<table>
			    	<colgroup>
			    		<col class="">
			    		<col class="">
			    		<col class="">
			    	</colgroup>
					<thead>
						<tr>
							<td colspan="3">
								<h3>{{'generator.title.projectsetup' | translate}}</h3>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>{{'project.label' | translate}}</th>
							<th>{{'project.template' | translate}}</th>
							<th>{{'project.target' | translate}}</th>
						</tr>
						<tr>
							<td>{{'project.location' | translate}}</td>
							<td>{{ctrl.generatorDto.project.template.templateLocation}}</td>
							<td>{{ctrl.generatorDto.project.targetPath}}</td>
						</tr>
						<tr>
							<td>{{'project.title' | translate}}</td>
							<td>{{ctrl.generatorDto.project.template.templateTitle}}</td>
							<td>{{ctrl.generatorDto.project.title}}</td>
						</tr>
						<tr>
							<td>{{'project.packageprefix' | translate}}</td>
							<td>{{ctrl.generatorDto.project.template.templatePackagePrefix}}</td>
							<td>{{ctrl.generatorDto.project.packagePrefix}}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
			<fieldset class="even" ng-if="ctrl.domainAll != null && ctrl.domainAll.length > 0">
				<table>
			    	<colgroup>
			    		<col class="">
			    		<col class="">
			    		<col class="">
			    	</colgroup>
					<thead>
						<tr>
							<td>
								<h3>{{'generator.title.domains' | translate}}</h3>
							</td>
							<td>&nbsp;</td>
							<td class="aRight">
								<span class="button"><a ng-click="ctrl.generate();">{{'generator.button.generatedomains' | translate}}</a></span>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="3">
								<span class="clickBox" ng-repeat="domain in ctrl.domainAll">
									<input type="checkbox" checked="true" ng-model="domain.selected"/>
									<label>{{domain.name}}</label>
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<input class="w3-check" type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateEntity">
								<label class="w3-validate">{{'generator.entity' | translate}}</label>
							</td>
						</tr>
							<td colspan="3">
								<input class="w3-check" type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateService">
								<label class="w3-validate">{{'generator.backend' | translate}}</label>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<input class="w3-check" type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateRest">
								<label class="w3-validate">{{'generator.rest' | translate}}</label>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<input class="w3-check" type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateFrontend">
								<label class="w3-validate">{{'generator.frontend' | translate}}</label>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<input class="w3-check" type="checkbox" checked="false" ng-model="ctrl.generatorDto.generateTests">
								<label class="w3-validate">{{'generator.testdata' | translate}}</label>
							</td>
						</tr>
					</tbody>
				</table>	
			</fieldset>
			<fieldset class="odd">
				<table>
					<thead>
						<tr>
							<td>
								<h3>{{'generator.title.projectdownload' | translate}}</h3>
							</td>
							<td class="aRight">
								<span class="button"><a href="{{ctrl.downloadlink}}">{{'generator.button.downloadproject' | translate}}</a></span>
							</td>
						</tr>
					</thead>
				</table>
			</fieldset>
		</form>
	</div>
</div>

<div id="footerBox">
	<p>&copy; LireJarp</p>
</div>

<div id="dialogBox">
	<div ng-include="'shared/dialogs/dialog.success.html'"></div>
	<div ng-include="'shared/dialogs/dialog.error.html'"></div>
</div>