<div id="headerBox" ng-include="'shared/menus/menu.project.html'"></div>

<div id="subheaderBox">
	<div class="top">
		<span class="navBar">
			<ul>
			  <li class="step1 act"><a href="#/viewcomponents/project-maintain/update/{{ctrl.projectid}}">{{'navnbar.projectdetails' | translate}}</a></li>
			  <li class="step2 act"><a href="#/viewcomponents/domain-byproject/{{ctrl.projectid}}">{{'navnbar.domainobjects' | translate}}</a></li>
			  <li class="step3 act"><a href="">{{'navnbar.generate' | translate}}</a></li>
			  <li class="clearer"></li>
			</ul>
		</span>
		<button class="icon back hint" href="#/viewcomponents/domain-byproject/{{ctrl.projectid}}"><span>{{'button.back' | translate}}</span></button>
		<div class="clearer"></div>
	</div>
	<div class="bottom aCenter">
		<span class="button add"><a href="" ng-click="ctrl.projectDownload();">{{'generator.button.downloadproject' | translate}}</a></span>
		<div class="w3-row-padding"><a class="w3-btn w3-pb-red w3-round-xxlarge" href="{{ctrl.downloadlink}}" style="display:none" id="downloadlink"></a></div>
	</div>
</div>

<div id="bodyBox">
	<div class="contain">
		<form id="projectForm" name="ctrl.form"> 
			<fieldset class="odd">
				<table>
			    	<colgroup>
			    		<col class="">
			    		<col class="">
			    		<col class="">
			    	</colgroup>
					<thead>
						<tr>
							<td colspan="3">
								<h3>{{'generator.title.projectsetup' | translate}}</h3>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th></th>
							<th>{{'project.template' | translate}}</th>
							<th>{{'project.target' | translate}}</th>
						</tr>
						<tr>
							<th>{{'project.location' | translate}}</th>
							<td>{{ctrl.generatorDto.project.template.templateLocation}}</td>
							<td></td>
						</tr>
						<tr>
							<th>{{'project.title' | translate}}</th>
							<td>{{ctrl.generatorDto.project.template.templateTitle}}</td>
							<td>{{ctrl.generatorDto.project.title}}</td>
						</tr>
						<tr>
							<th>{{'project.packageprefix' | translate}}</th>
							<td>{{ctrl.generatorDto.project.template.templatePackagePrefix}}</td>
							<td>{{ctrl.generatorDto.project.packagePrefix}}</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
			<fieldset class="even">
				<table ng-if="ctrl.domainAll != null && ctrl.domainAll.length > 0">
			    	<colgroup>
			    		<col class="">
			    		<col class="">
			    		<col class="">
			    	</colgroup>
					<thead>
						<tr>
							<td>
								<h3>{{'generator.title.domains' | translate}}</h3>
							</td>
							<td>&nbsp;</td>
							<td class="aRight">
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="clickBox" ng-repeat="domain in ctrl.domainAll">
									<input type="checkbox" checked="true" ng-model="domain.selected"/><span>{{domain.name}}</span>
								</div>
							</td>
							<td colspan="2">
							<div class="clickBox" >
									<input type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateEntity">
									<span class="w3-validate">{{'generator.entity' | translate}}</span>
								</div>
								<div class="clickBox" >
									<input type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateService">
									<span>{{'generator.backend' | translate}}</span>
								</div>
								<div class="clickBox" >
									<input type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateRest">
									<span>{{'generator.rest' | translate}}</span>
								</div>
								<div class="clickBox" >
									<input type="checkbox" checked="true" ng-model="ctrl.generatorDto.generateFrontend">
									<span>{{'generator.frontend' | translate}}</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>	
			</fieldset>
		</form>
	</div>
</div>
<div id="dialogBox">
	<div ng-include="'shared/dialogs/dialog.success.html'"></div>
	<div ng-include="'shared/dialogs/dialog.error.html'"></div>
	<div ng-include="'shared/dialogs/dialog.loading.html'"></div>
</div>