<div id="headerBox" ng-include="'shared/menus/menu.project.html'"></div>

<div id="subheaderBox">
	<div class="top">
		<span class="navBar">
			<ul>
			  <li class="step1 act"><a href="#/viewcomponents/project-maintain/update/{{ctrl.projectid}}">{{'navnbar.projectdetails' | translate}}</a></li>
			  <li class="step2 act"><a href="#/viewcomponents/domain-byproject/{{ctrl.projectid}}" ng-click="ctrl.doMaintainDomain();">{{'navnbar.domainobjects' | translate}}</a></li>
			  <li class="step3"><a href="#/viewcomponents/generator/generate/{{ctrl.projectid}}" ng-click="ctrl.doMaintainGenerate();">{{'navnbar.generate' | translate}}</a></li>
			  <li class="clearer"></li>
			</ul>
		</span>
		<button class="icon back hint" ng-click="ctrl.gotoDomain.prev(ctrl.projectid);"><span>{{'button.back' | translate}}</span></button>
		<button class="icon next right hint" ng-click="ctrl.gotoDomain.next(ctrl.projectid);" title="{{'button.next' | translate}}"><span>{{'button.next' | translate}}</span></button>
		<div class="clearer"></div>
	</div>
	<div class="bottom aCenter">
		<span class="button add"><a ng-click="ctrl.gotoDomain.create(ctrl.projectid);">+ Domain {{'button.add' | translate}}</a></span>
	</div>
</div>

<div id="bodyBox">
	<div class="contain">
		<ul class="itemList">
			<li class="list" ng-repeat="domain in ctrl.domainAll" ng-click="ctrl.showDetails(domain.id);" ng-dblclick="$event.stopPropagation();ctrl.gotoDomain.update(ctrl.projectid, domain.id);">
				<table class="acc" id="{{domain.id}}" >
					<colgroup>
				    	<col class="">
				    	<col class="">
				    	<col class="">
				    </colgroup>
					<thead>
						<tr>
							<td class="aLeft">
								<span class="button show"><a ng-click="$event.stopPropagation();ctrl.showDetails(domain.id);"><b></b></a></span>
								<span class="button"><a ng-click="$event.stopPropagation();ctrl.gotoDomain.update(ctrl.projectid, domain.id)">Bearbeiten</a></span>
							</td>
							<td class="aCenter">
								<h3>{{domain.name}}</h3>
								<p>{{domain.description}}</p>
							</td>
							<td class="aRight">
								<span class="button delete"><a ng-click="$event.stopPropagation();ctrl.deleteDomain(domain.id);">x</a></span>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="3" class="listcontent">
								<table id="{{domain.id}}" ng-dblclick="ctrl.gotoDomain.update(ctrl.projectid, domain.id);">
									<colgroup>
								    	<col class="">
								    	<col class="">
								    	<col class="">
								    	<col class="">
								    	<col class="">
								    	<col class="">
								    </colgroup>
								    <thead>
								    									<tr>
										<th colspan="6"><h4>{{'attribute.all.title' | translate}}</h4></th>
									</tr>
										<tr>
											<th>{{'attribute.name' | translate}}</th>
											<th>{{'attribute.description' | translate}}</th>
											<th>{{'attribute.type' | translate}}</th>
											<th>{{'attribute.pattern' | translate}}</th>
											<th>{{'attribute.max' | translate}}</th>
											<th>{{'attribute.min' | translate}}</th>
											<th>{{'attribute.nullable' | translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="attribute in domain.attributes">
											<td>{{attribute.name}}</td>
											<td>{{attribute.description}}</td>
											<td>{{attribute.dataType}}</td>
											<td>{{attribute.pattern}}</td>
											<td>{{attribute.max}}</td>
											<td>{{attribute.min}}</td>
											<td>
												<input placeholder="{{'attribute.nullable' | translate}}" name="attributenullable" id="attributenullable" type="checkbox" ng-model="attribute.required" disabled="true"/>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</li>
		</ul>
	</div>
</div>
<div id="dialogBox">
	<div ng-include="'shared/dialogs/dialog.success.html'"></div>
	<div ng-include="'shared/dialogs/dialog.error.html'"></div>
</div>