<form name="ctrl.inputdialogform" ng-init="sent=true;">
<div class="msgBox" id="importdialog" style="display:none">
	<table>
		<tr>
			<td>
				<span class="input">
					<span class="button delete dark" ng-click="ctrl.closeDialog('importdialog')"><a href="">x</a></span>
					<h2>{{ctrl.dialog.title | translate }}</h2>
					<p>
						<input id="import" type="file" accept=".json,.txt" required />
						<label ng-show="ctrl.inputdialogform.import.$error.required">{{'error.required' | translate}}</label>
					</p>
					<div class="bottom aCenter">
						<button class="thin" type="submit" ng-click="ctrl.importProjectTemplate();">{{'import.dialog.button.import' | translate}}</button>
					</div>
				</span>
			</td>
		</tr>
	</table>
</div>
</form>