<div class="subPart personAll">
	<div class="subPartTitle"><h1>{{title | translate}}</h1></div>
	<div class="editMenu">
		<button class="buttonLarge grey floating" ng-click="gotoCreateAttribute();">erstellen</button>
		<button class="buttonLarge grey floating" ng-click="idSelected != null && gotoUpdateAttribute(idSelected);" ng-disabled="idSelected == null">bearbeiten</button>
		<button class="buttonLarge grey floating" ng-click="idSelected != null && deleteAttribute(idSelected);" ng-disabled="idSelected == null">l&ouml;schen</button>
	</div>
	<div class="resultTable">
		<table>
		<thead>
			<tr>
				<th>{{'attribute.name' | translate}}</th>
				<th>{{'attribute.description' | translate}}</th>
				<th>{{'attribute.type' | translate}}</th>
				<th>{{'attribute.pattern' | translate}}</th>
				<th>{{'attribute.max' | translate}}</th>
				<th>{{'attribute.min' | translate}}</th>
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat="attribute in attributeAll" ng-click="setSelected(attribute.id)" 
				ng-class="{selected: attribute.id === idSelected }" 
				ng-dblclick="setSelected(attribute.id);gotoUpdateAttribute(idSelected);">

				<td>{{attribute.name}}</td>
				<td>{{attribute.description}}</td>
				<td>{{attribute.type}}</td>
				<td>{{attribute.pattern}}</td>
				<td>{{attribute.max}}</td>
				<td>{{attribute.min}}</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
		</table>
		</div>	
	</div>
</div>