<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<%= locale %>" ng-app="ljprojectbuilderApp"  ng-controller="appController">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ljprojectbuilderApp</title>
	<meta name="keywords" content="ljprojectbuilderApp" jee, java, architecture" />
	<meta name="description" content="Lightweight REST JEE Arch Pattern" />

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
	<link href="res/css/w3c.css" rel="stylesheet" type="text/css" />	
	<link href="res/css/w3-theme.css" rel="stylesheet" type="text/css" />
	<link href="res/css/w3-theme-color.css" rel="stylesheet" type="text/css" />	
</head>

<body>

<!-- ########################## dialogs ############################ -->
	<div class="w3-modal" id="errordialog" style="display: none;">
	  <div class="w3-modal-content w3-card-4  w3-animate-top">
	    <header class="w3-container w3-red"> 
	      <span class="w3-closebtn" onclick="document.getElementById('errordialog').style.display='none'">×</span>
	      <h2>{{dialog.title | translate }}</h2>
	    </header>
	    <div class="w3-container">
	      <p>{{dialog.text | translate }}</p>
	    </div>
	  </div>
	</div>
	
	<div class="w3-modal" id="successdialog" style="display: none;" onclick="document.getElementById('successdialog').style.display='none'">
	  <div class="w3-modal-content w3-card-4  w3-animate-top">
	    <header class="w3-container w3-teal">
	      <span class="w3-closebtn">×</span>
	      <h2>{{dialog.title | translate }}</h2>
	    </header>
	    <div class="w3-container">
	      <p>{{dialog.text | translate }}</p>
	    </div>
	  </div>
	</div>
<!-- ########################## dialogs ############################ -->

	<header class="w3-container w3-theme w3-padding">
		<div class="w3-center w3-half">
			<div ng-include src="'menu.html'"></div>
		</div>
	</header>
	<div class="">
	<ul class="w3-navbar w3-light-grey">
	  <li ng-controller="projectSingleCtrl" ><a href="#/viewcomponents/project-maintain/update/{{project.id}}">Details</a></li>
	  <li ng-controller="projectSingleCtrl"><a href="#/viewcomponents/domain-byproject/{{project.id}}">Domainobjekte</a></li>
	  <li ng-controller="projectSingleCtrl"><a href="#/viewcomponents/generator/generate/{{project.id}}">Generierung</a></li>
	</ul>
	
		 <!-- Sidenav -->
		<nav class="w3-sidenav w3-white w3-animate-left" style="display:none;z-index:4" id="projectSidenav" ng-controller="projectAllCtrl">
		  <a href="javascript:void(0)" onclick="document.getElementById('projectSidenav').style.display = 'none';document.getElementById('projectOverlay').style.display = 'none';" class="w3-closenav">Close</a>
		  <a ng-repeat="project in projectAll" onclick="document.getElementById('projectSidenav').style.display = 'none';document.getElementById('projectOverlay').style.display = 'none';"  ng-click="gotoUpdateProject(project.id);">{{project.title}}</a>
		</nav>
		
		<!-- Overlay -->
		<div class="w3-overlay" onclick="document.getElementById('projectSidenav').style.display = 'none';document.getElementById('projectOverlay').style.display = 'none';" style="cursor:pointer"></div>
		<div ng-view></div>
	</div>

	<script src="res/lib/angular.js" type="application/javascript"></script>
	<script src="res/lib/angular-route.js" type="application/javascript"></script>
	<script src="res/lib/angular-translate.min.js" type="application/javascript"></script>
	<script src="res/lib/angular-translate-loader-static-files.min.js" type="application/javascript"></script>
	
	<script src="shared/directives/global.directives.js" type="application/javascript"></script>
	<script src="shared/restfacade/rest.connector.factory.js"></script>
	<script src="shared/restfacade/projectsetup.connector.factory.js"></script>
	
	<!-- ###BEGIN### generated scripts -->
	<script src="shared/restfacade/project.connector.factory.js" type="application/javascript"></script>	
	<script src="viewcomponents/project/project.module.js" type="application/javascript" ></script>	
	<script src="viewcomponents/project/project.routes.js" type="application/javascript" ></script>	
	<script src="viewcomponents/project/projectAllCtrl.js" type="application/javascript" ></script>
	<script src="viewcomponents/project/projectSingleCtrl.js" type="application/javascript" ></script>

	<script src="shared/restfacade/attribute.connector.factory.js" type="application/javascript"></script>
	<script src="viewcomponents/attribute/attribute.ctrl.js" type="application/javascript" ></script>
	<script src="viewcomponents/attribute/attribute.routes.js" type="application/javascript" ></script>

	<script src="shared/restfacade/domain.connector.factory.js" type="application/javascript"></script>
	<script src="viewcomponents/domain/domain.ctrl.js" type="application/javascript" ></script>
	<script src="viewcomponents/domain/domain.routes.js" type="application/javascript" ></script>

	<script src="shared/restfacade/generator.connector.factory.js"></script>
	<script src="viewcomponents/generator/generator.ctrl.js" type="application/javascript" ></script>
	<script src="viewcomponents/generator/generator.routes.js" type="application/javascript" ></script>
	
	<script src="app.module.js"></script>
	<script src="app.routes.js"></script>
	<!-- ###END### generated scripts -->

</body>
</html>
