
name: Create tag and release

on:
  push:
    branches:
      - master
      - develop

jobs:
  build:
    name: "Building project with Java 14"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'

    - name: generate tag and release body
      run: |
        git config user.name github-ljprojectbuilder
        git config user.email mail@example.com
        npx standard-version -i RELEASE_BODY.md --skip.commit

    - name: publish tag
      id: publish_tag
      run: |
        git push --follow-tags
        echo ::set-output name=tag_name::$(git describe HEAD --abbrev=0)

    - name: create release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        release_name: Release ${{ steps.publish_tag.outputs.tag_name }}
        tag_name: ${{ steps.publish_tag.outputs.tag_name }}
        body_path: RELEASE_BODY.md

    - name: Set up JDK 14
      uses: actions/setup-java@v1
      with:
        java-version: 14
        ref: ${{ steps.publish_tag.outputs.new_tag }}

    - name: Build with Maven
      run: mvn -B package -Pfrontend --file pom.xml

    - name: Upload Maven build artifact
      uses: actions/upload-artifact@v1
      with:
        name: artifact
        path: application/target/application-0.0.1-SNAPSHOT.jar

    - name: Build Docker container
      uses: docker/build-push-action@v1
      with:
        username: "${{ secrets.DOCKER_USERNAME }}"
        password: "${{ secrets.DOCKER_PASSWORD }}"
        repository: starwit/lj-projectbuilder/ljprojectbuilder
        tags: ${{ steps.publish_tag.outputs.new_tag }}
        registry: docker.pkg.github.com
        path: .
        dockerfile: ./Dockerfile
